{% extends 'base.html.twig' %}

{% block body %}
	<h1>Colores</h1>
	{% include 'flashes.html.twig' %}
    <table class="table table-bordered">
		<tr>
			<th>#</th>
			<td>Nombre</td>
			<td>Acciones</td>
		</tr>
		{% for color in colores %}
			<tr>
				<td>{{ color.id }}</td>
				<td>{{ color.nombre }}</td>
				<td>
					<a href="{{ path('color_edit', {'id': color.id }) }}" class="btn btn-primary">Editar</a>
				</td>
			</tr>
		{% endfor %}		
	</table>

	<p>
		<a href="{{ path ('color_new')}}"> Agregar</a>
	</p>
{% endblock  %}