{% extends 'base.html.twig' %}

{% block body %}
	<h1>Colores</h1>
	{% include 'flashes.html.twig' %}
    <table class="table table-bordered">
    	<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for color in colores %}
				<tr>
					<td>{{ color.id }}</td>
					<td>{{ color.nombre }}</td>
					<td>
						<a href="{{ path('color_edit', {'id': color.id }) }}" class="btn btn-primary">Editar</a>
					</td>
				</tr>
			{% endfor %}		
		</tbody>
	</table>	
	<a href="{{ path ('color_new')}}" class="btn btn-primary">Agregar</a>
	
{% endblock  %}